.sms {
    height: 32px; /* высота */
    padding: 0 16px; /* отступы слева и справа */
    border: 1px solid #222; /* толщина, вид линии, цвет */
    border-radius: 6px; /* скругление */
    font-size: 14px;
    font-weight: 400;
    color: #222; /* цвет текста */
    background: #f5f5f5;
    align-items: center;
    white-space: nowrap;
}
